# Игнорируем временные файлы и файлы конфигурации IDE
.idea/

# Каталог сборки (собранные файлы проекта)
out/
target/

# Метаданные проекта IntelliJ IDEA
*.iml
*.ipr
*.iws

# Лог-файлы и временные файлы системы
logs/
tmp/
temp/
build/
output/
bin/
obj/

# Личные ключи SSH и сертификаты
*.key
*.cert
*.pem